

{% extends 'base.html.twig' %}

{% block title %}Accueil du Garage{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenue dans notre Garage !</h1>
        <p class="lead">Découvrez nos voitures de qualité, soigneusement sélectionnées pour vous.</p>
        <hr class="my-4">
        <p>Vous cherchez une voiture de rêve ? Explorez notre showroom !</p>
        <a class="btn btn-primary btn-lg" href="{{ path('app_vente') }}" role="button">Voir nos voitures</a>
    </div>
</div>
{% endblock %}