
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage - Accueil</title>
</head>
<body>
    <h1>Bienvenue sur notre garage</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Présentation du garage...</p>
</body>
</html>